@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Original+Surfer&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    max-width: 2000px;
}

header {
    font-family: Original Surfer, Amatic, Helvetica;
    color: whitesmoke;
}

.test-red{
    border:1px solid red
}

.test-blue {
    border: 1px solid blue;
}