@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Original+Surfer&display=swap');
body {
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    max-width: 2000px;
}

header {
    font-family: Original Surfer, Amatic, Helvetica;
    color: whitesmoke;
    background-color: #845EC2;
}

/* ----- ROWS AND COLUMM AREAS - TESTING -----*/ 

.test-red {
    border: 1px solid red
}

.test-blue {
    border: 1px solid blue;
}

/*------------------------------------------HEADER------------------------*/

.header{
    height: 200px;

}

.welcome-test {
    text-align: center;
    margin-top: 10px 0;
    padding-top: 30px;
}

.navbar-brand {
    font-family: Original Surfer, Amatic, Helvetica;
    /*font-size: 100%;*/
    margin-left: 20px;
    margin-top: 20px;
}

.navbar-light .navbar-brand {
    color: black
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color:black;
}


.fixed-top{
    position: fixed;
    z-index: 10;
    
}

.navbar-bg{
    background: white;
}


.menu-items{
    justify-content: flex-end;
}


.navbar-nav li a {
    margin-top: 25px;
    color: white
    text-align: left;
    margin-right: 5px;
}

.navbar-toggler {
    border: 2px solid white;
    color: white;
}




/*----------------------------------CHANGE BACKGROUND COLOR AREA -----------------------*/

.change-color {
    background-color: #9B89B3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.change-color p {
    color: white;
    margin-bottom: 10px;
}

#changecolor {
    margin: auto;
    /*margin-left: 35%;*/
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*----------------------------------GAME DESCRIPTION -----------------------*/

.game-description {
    margin: 1px;
    padding: 20px;
    background-color: #9B89B3;
    color:white;
    text-align: center;    
}

/*-------------------------------- SCORE GAME AREA--------------------------------*/

#game-box {
    background-color: #4E8397;
    height: 40px;
}

.game-area-box {
    height: 100px;
    
}

/*---------GAME AREA *******TESTING ******-----*/

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 400px;
    
}



/*--------------------------------FOOTER--------------------------------*/

footer {
    font-family: Original Surfer, Amatic, Helvetica;
    color: whitesmoke;
    background-color: #845EC2;
    height: 90px;
    width: 100%;
    overflow: hidden;
}

.social-networks {
    text-align: center;
}

.social-networks a {
    color: white;
    margin: 1px;
    padding: 1px;
    display: inline-block;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-networks a i:hover {
    color: #F9F871;
}

.social-networks i {
    font-size: 150%;
}


/*----------------------- About - Page----------*/