@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Original+Surfer&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    max-width: 2000px;
}

header {
    font-family: Original Surfer, Amatic, Helvetica;
    color: whitesmoke;
    background-color: #845EC2;
}


/*   ROWS AND COLUMM AREAS   */
.test-red{
    border:1px solid red
}

.test-blue {
    border: 1px solid blue;
}

/*------------------------------------------HEADER------------------------*/

.welcome-test {
    text-align: center;
    margin-top: 25px 0;
    padding-top: 30px;
}









/*----------------------------------GAME DESCRIPTION -----------------------*/

.game-description {
    margin: 1px;
    background-color: #FFC75F;
    color: black;
}










/*--------------------------------PLAY ZONE--------------------------------*/







/*--------------------------------FOOTER--------------------------------*/

footer {
    font-family: Original Surfer, Amatic, Helvetica;
    color: whitesmoke;
    background-color: #845EC2;
    height: 80px;
    width: 100%;
}

.social-networks {
    text-align: center;
}

.social-networks a {
    color: white;
    display: inline-block;
    
}
